.styled-button {
    appearance: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
}

.styled-button:hover {
    opacity: 0.9;
}

.primary {
    flex: 1 1 33.333%;
    max-width: 33.333%;
    background-color: var(--dark);
}

.primary:active {
    background-color: #050014;
}

.secondary {
    flex: 1 1 0%;
    background-color: #d81e5b;
    font-weight: 700;
}

.secondary:active {
    background-color: #c21b51;
}